.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    background-color: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
  }
  
  .header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;   
    width: 30%;
  }
  
  .header-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: orangered;
  }
  
  .header-data {
    font-size: 18px;
    font-weight: normal;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
    }
  
    .header-item {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  